/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans|Open+Sans+Condensed:700');
/*
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
*/
html, body {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
    width: 100%;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 12px rgba(255,255,255, 0.8);
    z-index: 9999;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 auto;
    padding: 0;
    background: #f1f1f1;
    color: #333;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  padding-right: 20px;
  font-size: 3em;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 2.2em;
    font-weight: 900;
    line-height: 1.1em;
}
h3 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
}
h4 {
    margin: 0 0 1.5em 0;
    font-size: 1.3em;
    font-weight: 700;
    font-style: italic;
    line-height: 0.9em;
}

h5 {
    margin: 0 0 1.5em 0;
    font-size: 0.9em;
    font-weight: 700;
    font-style: italic;
    line-height: 0.9em;
}

hr {
  border: 0;
  height: 1px;
  /* background: #333; */
  background-image: linear-gradient(to right, rgba(255, 113, 0, 0), rgba(255, 113, 0, 0.75), rgba(255, 113, 0, 0));
}

a {
  color: #333;
  text-decoration: none;
}

a:active {
  color: #ff7100;
}

a:hover {
  color: #ff7100;
  text-decoration: underline;
}

/***** WRAPPER & ORDER **************************************************
  ***********************************************************************/

div#wrapper {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
  }

div#wrapper > * {
    padding: 0;
    flex: 1 100%;
}

main { flex: 1 100%; }
footer { flex: 1 100%; }

/***** COLUMNS **********************************************************
  ***********************************************************************/

main { display: flex; flex-flow: column wrap; margin: 0 6%;}
main header { flex: 3; order: 2;}
main section.first { flex: 3; order: 6; }
main section.second { flex: 3; order: 5; }
main section.third { flex: 3; order: 4; }
main section.fourth { flex: 3; order: 3; }
main aside.sidebar { flex: 1; order: 1; }


/***** HEADER **********************************************************
  **********************************************************************/

  header {
    width: 75%;
    background-size: cover;
    text-align: center;
  }

  header span.apodImg img {
     width: 100%;
     max-height: 800px;
     float:none;
  }
  header span.apodTitle h2 {
    margin: 10px;
    padding-left: 25px;
    text-align: left;
    width: 80%;
    color: #333;
  }
  header div.apodExp {
    margin: 0 auto;
    padding: 5px 15px;
    text-align: left;
    width: 80%;
    color: #333;
  }
  header button.apodExpMore {
    width: 95%;
    padding: 15px 15px;
    background: #fff;
    font-size: 1em;
    text-align: center;
    color: #181C1F;
    font-weight: bold;
    border: 0;
  }
  header button.apodExpMore:hover {
    text-shadow: 2px 2px 8px #ff7100;
    cursor: pointer;
  }
  header hr { margin: 0 0 20px 0;}

/***** SECTION *********************************************************
  **********************************************************************/

header, section {
  border-right: 3px solid rgba(0,0,0, 0.1);
  width: 75%;
  background: #fff;
}
section > * {
  margin: 4%;
}
section.third { min-height: 100VH; }
section.third h3:before {
  content: "Discover new things";
}
section.third h3 {
  color: #fff;
  font-size: 1.4em;
  float: right;
}
section.fourth h4 {
  margin: 25px 0 15px 0;
  font-weight: bold;
  font-size: 1.5em;
  color: #ff7100;
}

section.fourth p {
  padding: 0 15px;
}
section.fourth h1 {
  margin-bottom: 15px;
}
section.fourth hr {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  height: 1px;
  /* background: #333; */
  background-image: linear-gradient(to right, rgba(255, 113, 0, 0), rgba(255, 113, 0, 0.75), rgba(255, 113, 0, 0));
}

#spacexHistory a {
  color: black;
  font-size: 1.1em;
  text-decoration: none;
}

#spacexHistory a:hover {
  color: #ff7100;
  font-size: 1.1em;
  text-decoration: underline;
}

#spacexHistory ul {
  width: 80%;
}

#spacexHistory ul li {
  display: inline-block;
  padding: 5px 15px;
}

#spacexHistory ul li a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
}

#spacexHistory ul li a:hover {
  color: #ff7100;
  text-decoration: underline;
}

#spacexHistory p {
  width: 80%;
  padding: 10px 5px;
}

#spacexHistory hr {  margin-bottom: 55px; }

#spaceLinks ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.3em;
}
#spaceLinks ul li a:hover {
  color: #ff7100;
  text-decoration: underline;
}

div.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0, 0.4);
    max-width: 80%;
    margin: 20px auto 60px auto;
}

div.card img {
    float: right;
    padding: 5px 0 0 5px;
}

div.cardContainer{
    margin: 10px 0;
    padding-left: 20px;
}

div.cardContainer span{
    display: block;
    font-size: 1.2em;
    margin: 20px 0;
    padding-left: 25px;
}
div.cardContainer span b {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
}
div.cardContainer span p {
    width: 80%;
}

#mapText {
  margin: 0;
  margin-top: 35px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 25px;
  height: 50px;
}

#map {
  position: relative;
  height: 450px;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  border-top: 3px solid #ff7100;
  border-bottom: 3px solid #ff7100;
  border-right: 2px solid rgba(255,113,0,0.4);
}


/***** ASIDE ************************************************************
  ***********************************************************************/

aside {
  min-height: 100%;
  width: 25%;
  max-width: 400px;
  background: #181C1F;
  border-right: 3px solid rgba(255,255,255, 0.3);
  border-left: 3px solid rgba(255,255,255, 0.3);
  text-align: center;
  color: #f9f9f9;
  padding-top: 45px;
}

/***** Fun Facts *******************************************************
  **********************************************************************/

aside.sidebar h3 {
  margin: 10px;
  font-size: 1.4em;
}
aside.sidebar a {
  color: #fff;
  text-decoration: none;
}
aside.sidebar a:hover {
  color: #ff7100;
  text-decoration: underline;
}

div#funFact1, div#funFact2, div#funFact3 {
  padding: 10px;
}

div#funFact1 h5, div#funFact2 h5, div#funFact3 h5 {
  margin: 10px;
  font-size: 1em;
}

div#funFact1 p, div#funFact2 p, div#funFact3 p {
  padding: 10px;
  font-size: 0.8em;
}

div#funFact2 ul {
  list-style: none;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
}

div#funFact3 p a {
  padding: 10px;
  font-size: 1em;
  text-decoration: underline;
  font-weight: bold;
}

/***** NAVIGATION ******************************************************
  **********************************************************************/

nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  color: #f9f9f9;
  border-bottom: 3px solid #ff7100;
  box-shadow: 0 3px 8px 0px #333;
}
nav h2 { display: none; font-size: 1.2em; }

nav ul {
  list-style: none;
  margin: 0;
  background: #181C1F;;
  padding-right: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding: 0.8em;
  color: white;
}

nav ul a:hover { background: #454545; }
nav ul#navigation.dropdown li.active,
nav ul#navigation.dropdown li ul li.active {
  text-decoration: none;
  font-weight: bold;
  padding: 0.8em;
  color: #ff7100;
}
nav ul#navigation.dropdown li a.active {
  color: #ff7100;
}
/* Hide Hamburger NAV */
nav ul li.icon { display: none; }

nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  right: 188px;
  border: 0px;
  border-left: 2px solid #ff7100;
  border-bottom: 3px solid #ff7100;
  width: 175px;
  display: none;
  opacity: 0;
  visibility: hidden;
  font-size: 1em;
}

nav ul.dropdown li:hover ul {
  width: 200px;
  display: block;
  opacity: 1;
  visibility: visible;
  box-shadow: 0 3px 11px 0 #333;
}

/* Items with aria-haspopup, add "arrow" */
nav a[aria-haspopup="true"]::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 14px;
    left: 5px;
    width: 0px;
    height: 0px;
    float: right;
    border-top: 4px solid #ff7100;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/***** FOOTER ******************************************************
  ******************************************************************/

footer {
  background: #181C1F;
  width: 100%;
  min-height: 100px;
  text-align: center;
  border-top: 3px solid #ff7100;
}

/***** FORM STYLING ************************************************
  ******************************************************************/

legend { font-size: 1.2em; font-weight: 700; color: #F15A24; }

fieldset { width: 85%; margin: 10px 0; border: 0; }


/*-- 'text', 'email', 'tel' --*/
input[type="text"], input[type="email"], input[type="tel"], textarea {
    background-color: #f9f9f9;
    width: 80%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;   /* Fix the fit */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline:0;
    border: 1px solid #ff7100;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
transition:border-color 0.4s ease-in-out;
	border:1px solid #ff7100;
}

textarea { min-height: 200px; }

/*-- submit --*/
button[type="submit"] {
    background-color: #ccc;
    color: #333;
    font-size: 1.4em;
    font-weight: 700;
    padding: 10px;
    border: 0;
    border-radius: 5px; /* Make it look round and nice */
}
button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

button[type="submit"]:hover {
  background-color: #ff7100;
  transition:background-color 0.4s ease-in-out;
  cursor: pointer; }

form div.submit { text-align: center; margin: 15px; }

form .error {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  color: red;
}
div.submit span#success {
  display: block;
  color: green;
  font-size: 1.5em;
  font-weight: bold;
  padding: 25px;
  height: 150px;
  width: 550px;
  border: 0;
}

/***** MEDIA ******************************************************
  *****************************************************************/
@media all and (max-width: 1200px) {
/* Remove margin on mobile / tablet */
    main { margin: 0;}

    div.card{ max-width: 100%; }
    div.card img { float: none; margin: 20px auto; }
    div.cardContainer{ padding-left: 10px; }
    div.cardContainer span{ padding-left: 15px; }
    div.cardContainer span p { width: 90%; }

    main section.third {  background-attachment: inherit !important; }
}
@media all and (max-width: 850px) {
/******* ORDER SECTIONS *******************************************/
  main header { order: 1; }
  main section.first { order: 2; }
  main section.second { order: 6; }
  main section.third { order: 4; }
  main section.fourth { order: 3; }
  main aside.sidebar { order: 5; }

  aside {
    min-height: 500px;
    width: 100%;
    max-width: 100%;
    border: 0;
    text-align: left;
    padding-top: 15px;
    border-top: 3px solid #ff7100;
  }

  aside ul li { text-align: left; padding-left: 12px; }
  div#funFact1 p, div#funFact3 p { padding-left: 18px; }
  /******* HEADER + SECTION Width! ***********************************/
  header, section {
    border-right: 0;
    width: 100%;
  }
  #mapText { font-size: 1.2em; padding-bottom: 0; padding-top: 40px; }
  /******* SECTION 4 // SPACEX HISTORY ******************************/
  #spacexHistory ul { padding-left: 0; width: 100%;}
  #spacexHistory ul li:not(:first-child) { padding-left: 35px; }
  #spacexHistory ul li h4 { margin: 0; }
  #spacexHistory ul li { display: block; margin: 15px; }
  #spacexHistory p { width: 100%; }

  div.cardContainer span b { display: block; }

/******* HAMBURGER NAV - show icon not links *************************/
  nav ul { flex-flow: column wrap; padding: 0; text-align: left; }
  /* Hide all */
  nav ul li:not(:first-child) { display: none; }
  /* Show Hamburger NAV */
  nav ul li.icon { display: block; padding: 0; padding-left: 2%; }

/******* HAMBURGER NAV ***********************************************/
  nav ul.dropdown.responsive {
  display: block;
  /* Hamburger NAV, positions on top of everything */
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #ff7100;
  }
  /* Show all links on click */
  nav ul.dropdown.responsive li,
  nav ul.dropdown.responsive li ul li  {
    display: block;
    background: #333;
    color: white;
  }
  nav ul.dropdown.responsive li ul li  { padding: 0 0 0 15px; }
  nav ul.dropdown.responsive li ul {
    top: 0;
    right: 0;
    position: relative;
    border: 0px;
    width: 100%;
    display: block;
    opacity: 100;
    visibility: visible;
    color: #fff;
  }


nav h2 { display: block; position: absolute; top: 15px; right: 4%; padding: 0; margin: 0; }
} /* Close Media max: 600px */
