/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans|Open+Sans+Condensed:300');
/*
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
*/
html, body {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 auto;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

h1 {
  padding-right: 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 2.2em;
    font-weight: 900;
    line-height: 1.1em;
}
h3 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
}
h4 {
    margin: 0 0 1.5em 0;
    font-size: 1.3em;
    font-weight: 700;
    font-style: italic;
    line-height: 0.9em;
}

h5 {
    margin: 0 0 1.5em 0;
    font-size: 0.9em;
    font-weight: 700;
    font-style: italic;
    line-height: 0.9em;
}
p {

}

a {
  color: #f9f9f9;
}

a:active {
  color: #ff7100;
}

a:hover {
  color: #ff7100;
}
/***** WRAPPER & ORDER *******************
  ***********************************/
div#wrapper {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
  }

div#wrapper > * {
    padding: 0;
    flex: 1 100%;
}

main { flex: 1 100%; }
footer { flex: 1 100%; }

/***** COLUMNS *******************
  ***********************************/

main { display: flex; flex-flow: column wrap; margin: 0 6%;}
main header { flex: 3; order: 2;}
main section.first { flex: 3; order: 6; }
main section.second { flex: 3; order: 4; }
main section.third { flex: 3; order: 5; }
main section.fourth { flex: 3; order: 3; }
main aside.sidebar { flex: 1; order: 1; }


/***** HEADER **********************
  ***********************************/
  header {
    width: 75%;
    background: #f9f9f9;
    background-size: cover;
    text-align: center;
  }

  header span.apodImg img {
     width: 100%;
     max-height: 800px;
     float:none;
  }
  header span.apodTitle h2 {
    margin: 10px;
    padding-left: 25px;
    text-align: left;
    width: 80%;
    color: #333;
    background: rgba(255,255,255, 0.6);
  }
  header div.apodExp {
    margin: 0 auto;
    padding: 5px 15px;
    text-align: left;
    width: 80%;
    color: #333;
    background: rgba(255,255,255, 0.6);
  }
  header button.apodExpMore {
    margin: 20px auto;
    padding: 15px 15px;
    text-align: center;
    color: #333;
  }

/***** SECTION **********************
  ***********************************/
header, section {
  border-right: 3px solid rgba(0,0,0, 0.1);
  width: 75%;
}
section > * {
  margin: 4%;
}
section.first {
  background: #fff url('') no-repeat right top;
  background-size: cover;
}

section.second {
  background: #fff url('') no-repeat right top;
  background-size: cover;
}

section.third {
  background: #fff url('') no-repeat right top;
  background-size: cover;
}

section.fourth {
  background: #fff url('') no-repeat right top;
  background-size: cover;
}

#spacexHistory ul {
  border-bottom: 1px solid black;
  width: 80%;
}

#spacexHistory ul li {
  display: inline-block;
  padding: 5px 15px;
}
#spacexHistory ul li a {
  font-size: 1.1em;
  color: black;
  text-decoration: none;
}
#spacexHistory ul li a:hover {
  color: orange;
}
#spacexHistory p {
  width: 80%;
}
#mapText {
  margin: 0;
  padding-left: 25px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #f7f7f7;
  height: 50px;
}
#map {
  position: relative;
  height: 450px;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
}
/***** ASIDE ************************
  ***********************************/

aside {
  min-height: 100%;
  width: 25%;
  max-width: 400px;
  background: #181C1F;
  border-right: 3px solid rgba(255,255,255, 0.3);
  border-left: 3px solid rgba(255,255,255, 0.3);
  text-align: center;
  color: #f9f9f9;
}

/***** Fun Facts *******************************************************
  **********************************************************************/
aside.sidebar h3 {
  font-family: 'Fjalla One', sans-serif;
  margin: 10px;
  font-size: 1.4em;
}
div#funFact1, div#funFact2, div#funFact3 {
  padding: 10px;
}
div#funFact1 h5, div#funFact2 h5, div#funFact3 h5 {
  font-family: 'Fjalla One', sans-serif;
  margin: 10px;
  font-size: 1em;
}
div#funFact1 p, div#funFact2 p, div#funFact3 p {
  padding: 10px;
  font-size: 0.8em;
}
div#funFact2 ul {
  list-style: none;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
}

div#funFact3 p a {
  padding: 10px;
  font-size: 1em;
  text-decoration: underline;
  font-weight: bold;
}


/***** NAVIGATION ******************************************************
  **********************************************************************/

nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  color: #f9f9f9;
  border-bottom: 3px solid #ff7100;
}
nav h2 { display: none; font-size: 1.2em; }

nav ul {
  list-style: none;
  margin: 0;
  background: #181C1F;;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding: 0.8em;
  color: white;
}

nav ul a:hover { background: #454545; }
/* Hide Hamburger NAV */
nav ul li.icon { display: none; }
nav ul li ul { display: none; }


/***** FOOTER ******************************************************
  ******************************************************************/

footer {
  background: #181C1F;
  width: 100%;
  min-height: 100px;
  text-align: center;
  border-top: 3px solid #ff7100;
}



/***** MEDIA ******************************************************
  *****************************************************************/
@media all and (max-width: 1200px) {
/* Remove margin on mobile / tablet */
    main { margin: 0;}
}
@media all and (max-width: 850px) {
/******* ORDER SECTIONS *******************************************/
  main header { order: 1; }
  main section.first { order: 2; }
  main section.second { order: 3; }
  main section.third { order: 5; }
  main section.fourth { order: 6; }
  main aside.sidebar { order: 4; }

  aside {
    min-height: 500px;
    width: 100%;
    max-width: 100%;
    border: 0;
    text-align: left;
  }
  /******* HEADER + SECTION Width! ***********************************/
  header, section {
    border-right: 0;
    width: 100%;
  }

  /******* SECTION 4 // SPACEX HISTORY ******************************/
  #spacexHistory ul { padding-left: 0; }
  #spacexHistory ul li:not(:first-child) { padding-left: 35px; }
  #spacexHistory ul li h4 { margin: 0; }
  #spacexHistory ul li { display: block; margin: 15px; }
  #spacexHistory p { width: 100%; }

/******* HAMBURGER NAV - show icon not links *************************/
  nav ul { flex-flow: column wrap; padding: 0; text-align: left; }
  /* Hide all */
  nav ul li:not(:first-child) { display: none; }
  /* Show Hamburger NAV */
  nav ul li.icon { display: block; padding: 0; padding-left: 2%; }

/******* HAMBURGER NAV ***********************************************/
  nav ul.dropdown.responsive {
  display: block;
  /* Hamburger NAV, positions on top of everything */
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #ff7100;
  }
/* Show all links on click */
nav ul.dropdown.responsive li, nav ul.dropdown.responsive li ul li  {
  display: block;
  background: #333;
  }

nav ul.dropdown.responsive li ul {
  display: block;
  position: relative;
  top: 0;
  left: 25px;
  width: 100%;
  color: white;
  }
nav h2 { display: block; position: absolute; top: 5px; right: 2%; padding: 0; margin: 0; }
} /* Close Media max: 600px */
